@font-face {
  font-family: "TODO";
  /* src: url('/fonts/TODO/mpb.woff') format('woff'),
    url('/fonts/TODO/mpb.ttf') format('ttf'),
    url('/fonts/TODO/mpb.woff2') format('woff2'),
    url('/fonts/TODO/mpb.otf') format('otf'),
    url('/fonts/TODO/mpb.woff') format('woff'),
    url('/fonts/TODO/mpb.ttf') format('ttf'),
    url('/fonts/TODO/mpb.woff2') format('woff2'),
    url('/fonts/TODO/mpb.otf') format('otf'); */
  font-display: swap;
}
@font-face {
  font-family: "TODO";
  /* src: url('/fonts/TODO/mpb.woff') format('woff'),
    url('/fonts/TODO/mpb.ttf') format('ttf'),
    url('/fonts/TODO/mpb.woff2') format('woff2'),
    url('/fonts/TODO/mpb.otf') format('otf'),
    url('/fonts/TODO/mpb.woff') format('woff'),
    url('/fonts/TODO/mpb.ttf') format('ttf'),
    url('/fonts/TODO/mpb.woff2') format('woff2'),
    url('/fonts/TODO/mpb.otf') format('otf'); */
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "TODO";
  /* src: url('/fonts/TODO/mpb.woff') format('woff'),
    url('/fonts/TODO/mpb.ttf') format('ttf'),
    url('/fonts/TODO/mpb.woff2') format('woff2'),
    url('/fonts/TODO/mpb.otf') format('otf'),
    url('/fonts/TODO/mpb.woff') format('woff'),
    url('/fonts/TODO/mpb.ttf') format('ttf'),
    url('/fonts/TODO/mpb.woff2') format('woff2'),
    url('/fonts/TODO/mpb.otf') format('otf'); */
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TODO";
  /* src: url('/fonts/TODO/mpb.woff') format('woff'),
    url('/fonts/TODO/mpb.ttf') format('ttf'),
    url('/fonts/TODO/mpb.woff2') format('woff2'),
    url('/fonts/TODO/mpb.otf') format('otf'),
    url('/fonts/TODO/mpb.woff') format('woff'),
    url('/fonts/TODO/mpb.ttf') format('ttf'),
    url('/fonts/TODO/mpb.woff2') format('woff2'),
    url('/fonts/TODO/mpb.otf') format('otf'); */
  font-style: italic;
  font-display: swap;
}

/* Webfont: icons-default */
@font-face {
  font-family: "Icons";
  font-style: normal;
  font-weight: 400;
  src: url("url/icons/icons-default.eot"); /* IE9 Compat Modes */
  src: url("url/icons/icons-default.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("url/icons/icons-default.woff") format("woff"),
    /* Modern Browsers */ url("url/icons/icons-default.woff2") format("woff2"),
    /* Modern Browsers */ url("url/icons/icons-default.ttf") format("truetype"); /* Safari, Android, iOS */
  text-rendering: geometricPrecision;
  unicode-range:
      /* Arrows */ U+003C, U+003E, U+142f, U+1431, U+2190,
    U+2191, U+2192, U+2193, U+2194, U+2195, /* Navigation */ U+0024, U+2026,
    U+2139, U+229E, U+23F8, U+2665, U+2699, U+26A0, U+1F3C5, U+1F4C4, U+1F501,
    U+1F50D, U+1F511, U+1F514, U+1F697, U+1F69A, /* Interaction */ U+002B,
    U+003F, U+00D7, U+20D5, U+2215, U+2295, U+2297, U+2298, U+2349, U+2370,
    U+2389, U+25B7, U+260E, U+2630, U+2705, U+2709, U+270F, U+2713, U+2933,
    U+293B, U+29B7, U+29BF, U+1F464, U+1F4F1, U+1F4F3, U+1F4F4, U+1F5BC, U+1F6AE,
    /* Indicators */ U+20DD, U+2347, U+2348, U+23CE, U+2460, U+25CB, U+2611,
    U+26D1, U+2714, U+1F381, U+1F4CD, U+1F4EE, U+1F525, U+1F5D3, U+1F41E,
    U+03B1-03C9, /* Body styles */ U+24B7, U+24C8, U+1F162,
    /* Avatar */ U+0531-0586, /* Makes */ U+1360-13D4; /* States */
}
/* Webfont: icons-active */
@font-face {
  font-family: "Icons";
  font-style: normal;
  font-weight: 700;
  src: url("<url>icons-active.eot"); /* IE9 Compat Modes */
  src: url("<url>icons-active.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("<url>icons-active.woff") format("woff"),
    /* Modern Browsers */ url("<url>icons-active.woff2") format("woff2"),
    /* Modern Browsers */ url("<url>icons-active.ttf") format("truetype"); /* Safari, Android, iOS */
  text-rendering: geometricPrecision;
  unicode-range:
      /* Arrows */ U+003C, U+003E, U+142f, U+1431, U+2190,
    U+2191, U+2192, U+2193, U+2194, U+2195, /* Navigation */ U+0024, U+2026,
    U+2139, U+229E, U+23F8, U+2665, U+2699, U+26A0, U+1F3C5, U+1F4C4, U+1F501,
    U+1F50D, U+1F511, U+1F514, U+1F697, U+1F69A, /* Interaction */ U+002B,
    U+003F, U+00D7, U+20D5, U+2215, U+2295, U+2297, U+2298, U+2349, U+2370,
    U+2389, U+25B7, U+260E, U+2630, U+2705, U+2709, U+270F, U+2713, U+2933,
    U+293B, U+29B7, U+29BF, U+1F464, U+1F4F1, U+1F4F3, U+1F4F4, U+1F5BC, U+1F6AE,
    /* Indicators */ U+20DD, U+2347, U+2348, U+23CE, U+2460, U+25CB, U+2611,
    U+26D1, U+2714, U+1F381, U+1F4CD, U+1F4EE, U+1F525, U+1F5D3, U+1F41E,
    U+03B1-03C9, /* Body styles */ U+24B7, U+24C8, U+1F162,
    /* Avatar */ U+0531-0586, /* Makes */ U+1360-13D4; /* States */
}
